/* CSS declarations go here */
.node {
    margin: auto;
    width: 250px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
}
.level {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.levelNodes {
    margin: auto;
    display: block;
    text-align: center;
    padding-bottom: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

body {
    margin: 0;
    padding: 0;
    outline: 0;
}
